<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="static/jambox.css"/>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="static/jambox.js"></script>
</head>
<body>
    <div id="main">
        <h1 id="title">Jambox</h1>
        <div id="volume">
            <div id="volume_leds"></div>
            <div id="volume_buttons">
                <a class="button" href="#" onclick="volchange(0.1)">Up</a>
                <a class="button" href="#" onclick="volchange(-0.1)">Down</a>
            </div>
        </div>
    </div>
</body>
</html>
